source_env_if_exists .envrc.local

export PGUSER=postgres
export PGHOST=127.0.0.1
export PGDATABASE=jiff_sqlx_poc
export DATABASE_URL=postgres://$PGUSER@$PGHOST/$PGDATABASE

ORIGINAL_TMP=$TMP
ORIGINAL_TMPDIR=$TMPDIR
ORIGINAL_TEMP=$TEMP
ORIGINAL_TEMPDIR=$TEMPDIR

if has nix; then
    use flake;
fi

# "use flake" sets tempdir to the underlying nix-shell invocation's tmpdir
# which is invalid once the command executes. nix-direnv handles dropping these
# temp variables, but this does not help for e.g. VSCode's direnv plugin, which
# causes Rust builds to fail when they try to make temporary files in a directory
# that no longer exists.
export TMP=$ORIGINAL_TMP
export TMPDIR=$ORIGINAL_TMPDIR
export TEMP=$ORIGINAL_TEMP
export TEMPDIR=$ORIGINAL_TEMPDIR
